/backend/node_modules/
/backend/Backend
.env


# Frontend build & dependencies
/frontend/node_modules/
/frontend/.next/
/frontend/out/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/Frontend

# Frontend logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# IDEs
/frontend/.vscode/
